# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc


# Logs
logs_*.csv

# Carpeta de comprobantes subidos
uploads/

# Archivos de VSCode (opcional)
.vscode/
logs_access.csv
database.db